.sensor {
    width: calc(35%);
    min-width: 280px;
    height: 250px;
    padding: 15px 25px;
    background: #4a90e2;
    color: #FFF;
    float: left;
    /*margin-right: 50px;*/
}
.sensor-title {
    min-width: 70%;
    height: 200px;
    float: left;
    font-size: 2.5em;
}
.sensor-data {
    min-width: 30%;
    height: 200px;
    float: left;
    text-align: right;
    font-size: 2em;
}
.sensor-unit {
    height: 50px;
    float: right;
    text-align: right;
    font-size: 2em;
}
.warning {
    background: red;
}
.device-margin {
    margin-left: 50px;
}


@media only screen and (min-width: 900px) {
    .device-margin {
        margin-left: 50px;
    }
    .sensor {
        width: 42%;
    }
}

/* Tablet */
@media only screen and (max-width: 900px) {
    .device-margin {
        margin-left: 25px;
    }

    .sensor-title {
        font-size: 2em;
    }

    .sensor {
        height: 150px;
    }

    .sensor-data {
        height: 100px;
    }
}

/* Phone */
@media only screen and (max-width: 767px) {
    .sensor {
        width: calc(86%);
    }
    .device-margin {
        margin-left: 0px;
        margin-top: 50px;
    }
}